<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Donate &ndash; Sumatran Orangutan Society</title>
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="Sumatran orangutans are critically endangered. Habitat loss and poaching are pushing them towards imminent extinction." />
  <meta name="keywords" content="SOS donations, give as you earn orangutan charity, Sumatran Orangutan Society donation, help orangutans, how to help orangutans, orangutan charity donate, Sumatran orangutan charity donate, help orangutans, fundraising orangutans, give money orangutans" />
  <meta http-equiv="imagetoolbar" content="false" />
  
  <link href="/stylesheets/site_11505.css" media="screen" rel="Stylesheet" type="text/css" />
  <link href="/stylesheets/print_5944.css" media="print" rel="Stylesheet" type="text/css" />  
  <!--[if IE 7]>
  <link href="/stylesheets/ie7.css" media="screen" rel="Stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 7]>
  <link href="/stylesheets/blueprint/0.6/lib/ie.css" media="screen" rel="Stylesheet" type="text/css" />
  <link href="/stylesheets/ie.css" media="screen" rel="Stylesheet" type="text/css" />
  <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/javascripts/site_11486.js" type="text/javascript"></script>
  <script src="/javascripts/sifr/sifr.js" type="text/javascript"></script>
  <script src="/javascripts/sifr/sifr-config.js" type="text/javascript"></script>
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  
  <link href="/feed" rel="alternate" title="RSS" type="application/rss+xml" />
  <link rel="icon" href="/favicon.ico" type="image/png" />
</head>

<body id="help">
  <div style="position: fixed; top: 0px; left: 50px; z-index: 100; padding: 20px 10px 10px; font-size: 150%; border: 1px solid #ccc; background-color: #B21300;">FOR TESTING PURPOSES ONLY</div>

  <div id="leaves" class="container pngfix"></div>

  <div id="wrapper" class="container">

    <div id="header" class="column span-8">
      <h1><a href="http://www.orangutans-sos.org/">Sumatran Orangutan Society</a></h1>
      <p id="skip_to_content"><a href="#main">Skip to content</a></p>
      <a href="/help/donate" class="top_donate_link"><span>Make a donation</span></a>
    </div>

    <div id="left_column" class="column span-2">

      <ul id="menu">
        <li class="first main_section ">
          <a href="http://www.orangutans-sos.org/">Home</a>
        </li>


        <li class="main_section" id="nav_about">

          <a href="/about">About SOS</a>

        </li>
        


        <li class="main_section" id="nav_orangutans">

          <a href="/orangutans">About Orangutans</a>

        </li>
        


        <li class="main_section" id="nav_projects">

          <a href="/projects">Our projects</a>

        </li>
        


        <li class="main_section" id="nav_help"><a href="/help" class="active_parent">How to Help</a>                <ul>
          <li class="first">

            <a href="/help/membership">Become a Member</a>

          </li>
          <li>

            <a href="/help/donate" class="active">Donate</a>

          </li>
          <li>

            <a href="/help/fundraise">Fundraise</a>

          </li>
          <li>

            <a href="http://shop.orangutans-sos.org/">Shop</a>

          </li>
          <li>

            <a href="/help/payroll_giving">Payroll Giving</a>

          </li>
          <li>

            <a href="/help/donate/leave_legacy">Leave a Legacy or Donate In Memory</a>

          </li>
          <li>

            <a href="/help/other">Other ways to help</a>

          </li>
          <li>

            <a href="/help/give_as_you_live">Give As You Live</a>


          </li></ul>    </li>



          <li class="main_section" id="nav_campaigns">

            <a href="/campaigns">Campaigns</a>

          </li>



          <li class="main_section" id="nav_events">

            <a href="/events">Events</a>

          </li>



          <li class="main_section" id="nav_sumatra">

            <a href="/visit_sumatra">Visit Sumatra</a>

          </li>



          <li class="main_section" id="nav_kids">

            <a href="/kids">Kids</a>

          </li>



          <li class="main_section" id="nav_shop">

            <a href="http://shop.orangutans-sos.org/">Shop</a>

          </li>



          <li class="main_section" id="nav_contact">

            <a href="/contact">Contact Us</a>

          </li>



        </ul>

        <div class="new_signposts">
          <div id="donate" class="icon">
            <a href="/help/donate">
              <strong>Make a donation</strong><br />
              <span>Sumatran Orangutans need your help.</span>
            </a>
          </div>
          <div id="enews" class="icon">
            <p><strong>Keep up to date!</strong><br />
              <span>Sign up to our enewsletter</span></p>
              <form class="hide_labels" action="http://tictocdesign.createsend.com/t/r/s/tlxf/" method="post">
                <div>
                  <label for="name">Name</label>
                  <input type="text" id="name" name="cm-name" />
                  <label for="email">Email address</label>
                  <input type="text" id="email" name="cm-tlxf-tlxf" />
                  <input type="image" id="subscribe" alt="Subscribe" src="/images/signposts/subscribe.gif" />
                </div>
              </form>   
            </div>
            <div id="shop" class="icon first">
              <a class="popup" href="http://shop.orangutans-sos.org">
                <strong>Online Shop</strong><br />
                <span>Buy from our shop and help conserve the Sumatran Orangutans.</span>
              </a>
            </div>
          </div>
        </div>

        <div id="main" class="column span-6 last">
          <div id="body" class="pagebody help">
            <h2>Make a Donation</h2>
            {% if test_donation == 'success' %}
            <div style="border: 1px #ccc solid; margin: 0 0 10px; padding: 5px; background-color: #386351;"><strong>Your donation was successful</strong> &ndash; but this is just a test.</div>
            {% else if test_donation == 'fail' %}
            <div style="border: 1px #ccc solid; margin: 0 0 10px; padding: 5px; background-color: #B21300;"><strong>Your donation was not processed</strong> &ndash; probably because this is just a test.</div>
            {% endif %}

            <h3>
              We rely on gifts from our supporters to continue our work to protect the critically endangered Sumatran orangutan. For as little as &#163;5 a month, you can help SOS create a brighter future for orangutans and their forest homes.<br />
              <br />
            </h3>

            <div style="float: left; width: 269px; background-color: #FDCDA5; margin-right: 10px;">
              <img src="/documents/607/607-original.jpg" alt="single donation" width="269" />

              <div style="padding: 0 10px 10px; color: #386351;">
                <form id="paymentForm" method="POST">
                  <input type="radio" value="100" id="radio100" name="amount" class="radioAmount" /><label for="radio100">&pound;100</label>
                  <input type="radio" value="50" id="radio50" name="amount" class="radioAmount" /><label for="radio50">&pound;50</label>
                  <input type="radio" value="20" id="radio20" name="amount" class="radioAmount" /><label for="radio20">&pound;20</label>
                  <input type="radio" value="10" id="radio10" name="amount" class="radioAmount" /><label for="radio10">&pound;10</label><br>
                  <input type="radio" value="other" id="radioOther" name="amount" /><label for="radioOther">Other:</label> &pound;
                  <input type="text" id="otherAmount" style="width:80px;" />
                  <input class="button" type="button" value="Donate" id="customButton">
                </form>
              </div>
            </div>

            <div style="float: left; height: 269px; background-color: #FDCDA5;">
              <a href="https://uk.virginmoneygiving.com/fundraiser-web/donate/makeDonationForCharityDisplay.action?charityId=1000952&#38;frequencyType=M" class="popup">
                <img src="/documents/609/609-original.jpg" alt="monthly donation new" width="269" height="269" />
              </a>
            </div>
            <div style="clear: both;">&nbsp;</div>

            <h4><em>Other ways to give</em>:</h4>
            <ol>
            </ol>
            <ul>
              <li>
                <p>
                  <a href="/help/membership" title="Membership"><strong>Become a Member</strong></a>: Join SOS today, or give a Gift Membership 
                </p>
              </li>
              <li>
                <p>
                  <a href="/help/payroll_giving" title="Payroll Giving"><strong>Payroll Giving</strong></a>: Making a regular donation direct from your salary is a simple and tax-effective way to give.&#160;
                </p>
              </li>
              <li>
                <p>
                  Leave a <a href="/help/donate/leave_legacy" title="Leave a Legacy"><strong>Legacy</strong></a> to SOS in your will.&#160;
                </p>
              </li>
              <li>
                <p>
                  Send a cheque or money order. Click <a href="/contact" title="Contact Us" class="popup">here</a> for address details.
                </p>
              </li>
            </ul>
            <ol>
            </ol>
            <h2>&#160;<img src="/documents/555/555-original.jpg" alt="text donate Tim" width="570" height="172" /></h2>
            <h3>Thank you. 
            </h3>
            <ol>
              <br />
              <br />
            </ol>


          </div>
        </div>

    </div>

    <div id="footer" class="container">
      <div class="column span-8">
        <ul class="column span-4">
          <li><a href="/accessibility">Accessibility</a></li>
          <li><a href="/privacy">Privacy policy</a></li>
          <li><a href="/sitemap">Site-map</a></li>
        </ul>

        <ul class="column span-4 last">  
          <li>&copy; 2013 Sumatran Orangutan Society.</li>
          <li><a href="http://www.tictocfamily.com" title="Site created by tictoc" class="popup" id="tictoc">Site by tictoc</a></li>
        </ul>

        <p id="siteurl">Printed from: /help/donate/</p>

      </div>
    </div>

    <script>
    $(function() {
      $("#otherAmount").focus(function(){
        $("#radioOther").attr("checked", true);
      });
      $(".radioAmount").change(function(){
        $("#otherAmount").val('');
      });
      var amount;
      $('#customButton').click(function(){
        var token = function(res){
          $('#paymentForm').append($('<input type="hidden" name="stripeToken" />').val(res.id));
          $('#paymentForm').append($('<input type="hidden" name="stripeAmount" />').val(amount));
          $('#paymentForm').submit();
        };
        if (typeof $('input[name=amount]:checked', '#paymentForm').val() === 'undefined'){alert("Please select an amount");return;}
        amount = $('input[name=amount]:checked', '#paymentForm').val();
        if (amount === 'other'){amount = Number($('#otherAmount').val());}
        if (isNaN(amount) === false){amount = Math.round(amount*100);}else{alert("Please enter a valid amount in the 'Other amount' box");return;}
        if (amount < 100){alert("Sorry, the minimum amount we can accept as a donation is £1");return;}
        StripeCheckout.open({
          key:         'pk_test_TP5dse58CkdGEp1yvdzDBDmG',
          amount:      amount,
          name:        'Sumatran Orangutan Society',
          description: 'Donate to help fund the Sumatran Orangutan Society',
          panelLabel:  'Donate',
          token:       token,
          currency: 'gbp'
        });
        return false;
      });
    });
    </script>
  </body>
</html>